<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>       
        <sites>
            <site name="WestPharmaUS" patch:before="site[@name='website']" 
                  targetHostName="www.westpharmaus.com" 
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/WestPharmaUSHome" 
                  startItem="/Home" 
                  dictionaryPath="/sitecore/content/WestPharmaUSHome/global/dictionary" 
                  dictionaryAutoCreate="false" 
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/WestPharmaUS"
                  domain="extranet" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  loginPage="/login"
                  enableItemLanguageFallback="true"
                  enforceVersionPresence="true" />
        </sites>
    </sitecore>
</configuration>