@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="header-container">
        @Html.Sitecore().Placeholder("header")

        @Html.Sitecore().Placeholder("main")
        @Html.Sitecore().Placeholder("WestPharmaEU_Right_Panel")
        
        @Html.Sitecore().Placeholder("footer")

    </div>
</body>
</html>
